body {
  font-family: Arial, sans-serif;
  margin: 25px;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.image {
  text-align: center;
  flex-basis: 100%;
}

.image img {
  max-width: 100%;
  height: auto;
}

.content {
  text-align: center;
  flex-basis: 100%;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #666;
}

@media (min-width: 768px) {
  .image {
    text-align: right;
    flex-basis: 50%;
  }

  .content {
    text-align: left;
    flex-basis: 50%;
    padding-left: 50px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }
}